.table {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 15px;
}
.add {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px 15px;
  cursor: pointer;
}
.header,
.body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: 1px solid black;
}
.body {
  border-top: none;
  border-bottom: none;
  flex-flow: column;
}
.header > div:last-child {
  width: 20%;
}
.header > div, .line > div {
  padding: 10px;
  border-right: 1px solid black;
  width: 100%;
}
.body > .line:last-child {
  border-bottom: none;
}
.line {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}
.header > div:last-child, .line > div:last-child{
  border-right: none;
}
.input {
  width: 90%;
}
.buttons {
  display: flex;
  justify-content: space-around;
  width: 20% !important;
}
.buttons > div {
  cursor: pointer;
}
